################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/wnetwrap/v16/Browse.VC.db-wal
